<div bsModal #viewModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="viewModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <p>{{l("ID")}}: {{type.id}}</p>
                </h4>
                <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Name</label>
                    <h5>
                        <p>{{type.name}}</p>
                    </h5>
                </div>
                <div class="form-group">
                    <label>Prefix Word</label>
                    <h5>
                        <p>{{type.prefixWord}}</p>
                    </h5>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <h5>
                        <p *ngIf="type.description">{{type.description}}</p>
                        <p *ngIf="!type.description">{{l("-")}}</p>
                    </h5>
                </div>
                <div class="form-group">
                    <label>Created Date</label>
                    <h5>
                        <p *ngIf="type.createdBy">{{type.createdDate | momentFormat:'DD-MM-YYYY HH:mm:ss'}}</p>
                        <p *ngIf="!type.createdBy">{{l("-")}}</p>
                    </h5>
                </div>
                <div class="form-group">
                    <label>Created By</label>
                    <h5>
                        <p *ngIf="type.createdBy">{{type.createdBy}}</p>
                        <p *ngIf="!type.createdBy">{{l("-")}}</p>
                    </h5>
                </div>
                <div class="form-group">
                    <label>Updated Date</label>
                    <h5>
                        <p *ngIf="type.updatedBy">{{type.updatedDate | momentFormat:'DD-MM-YYYY HH:mm:ss'}}</p>
                        <p *ngIf="!type.updatedBy">{{l("-")}}</p>
                    </h5>
                </div>
                <div class="form-group">
                    <label>Updated By</label>
                    <h5>
                        <p *ngIf="type.updatedBy">{{type.updatedBy}}</p>
                        <p *ngIf="!type.updatedBy">{{l("-")}}</p>
                    </h5>
                </div>
                <div class="form-group">
                    <label>Status</label>
                    <h5>
                        <p *ngIf="!type.isDelete">{{l("Active")}}</p>
                        <p *ngIf="type.isDelete">{{l("Inactive")}}</p>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>