<div [@routerTransition]>
    <div id="AssetDashboard">
        <div class="m-subheader">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        <span>{{l("Asset Dashboard")}}</span>
                    </h3>
                    <span class="m-section__sub">
                        {{l("Asset Dashboard Of Company")}}
                    </span>
                </div>
                <div>
                    <button name="RefreshButton" class="btn btn-primary" (click)="getAssetDashboardStatisticsData()"><i class="la la-refresh"></i>{{l("Refresh")}}</button>
                    <span #DashboardDateRangePicker class="m-subheader__daterange dashboard-report-range">
                        <span class="m-subheader__daterange-label">
                            <span class="m-subheader__daterange-title"></span>
                            <span class="m-subheader__daterange-date m--font-brand">
                                {{selectedDateRange.startDate.format('LL')}} - {{selectedDateRange.endDate.format('LL')}}
                            </span>
                        </span>
                        <a href="javascript:;" class="btn btn-sm btn-primary m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
                            <i class="la la-angle-down" [attr.aria-label]="l('Expand')"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>

        <div class="m-content">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="m-portlet m-portlet--full-height asset-total-number-statistics">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        <i class="la la-line-chart m--font-info"></i>
                                        <span class="caption-subject font-blue bold uppercase">{{l("Total Asset Statistics")}}</span>
                                        <small>
                                            <span class="caption-helper">
                                                {{selectedDateRange.startDate.format('L')}} - {{selectedDateRange.endDate.format('L')}}
                                            </span>
                                        </small>
                                    </h3>
                                </div>
                            </div>
                            <div class="m-portlet__head-tools">
                                <div class="btn-group btn-group-devided" data-toggle="buttons">
                                    <label class="btn m-btn--pill btn-secondary active" (click)="assetTotalNumberStatisticsDateIntervalChange(appIncomeStatisticsDateInterval.Daily)">
                                        <input type="radio"
                                               name="AssetTotalNumberStatisticsDatePeriod"
                                               class="toggle"
                                               [value]="appIncomeStatisticsDateInterval.Daily">
                                        {{l("Daily")}}
                                    </label>
                                    <label class="btn m-btn--pill btn-secondary" (click)="assetTotalNumberStatisticsDateIntervalChange(appIncomeStatisticsDateInterval.Weekly)">
                                        <input type="radio"
                                               name="AssetTotalNumberStatisticsDatePeriod"
                                               class="toggle"
                                               [value]="appIncomeStatisticsDateInterval.Weekly">
                                        {{l("Weekly")}}
                                    </label>
                                    <label class="btn m-btn--pill btn-secondary" (click)="assetTotalNumberStatisticsDateIntervalChange(appIncomeStatisticsDateInterval.Monthly)">
                                        <input type="radio"
                                               name="AssetTotalNumberStatisticsDatePeriod"
                                               class="toggle"
                                               [value]="appIncomeStatisticsDateInterval.Monthly">
                                        {{l("Monthly")}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <div #AssetTotalNumberStatisticsChart
                                 class="chart asset-total-number-statistics-chart"
                                 [busyIf]="loadingAssetTotalNumberStatistics"
                                 [hidden]="!assetTotalNumberStatisticsHasData">
                            </div>
                            <div class="note note-info text-center chart"
                                 [hidden]="assetTotalNumberStatisticsHasData">
                                <small class="text-muted">{{l("NoData")}}</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="m-portlet m-portlet--full-height edition-statistics">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        <i class="la la-pie-chart m--font-success"></i>
                                        <span class="caption-subject font-green-seagreen">{{l("Asset Status Statistics")}}</span>
                                        <small>
                                            <span class="caption-helper">
                                                {{selectedDateRange.startDate.format('L')}} - {{selectedDateRange.endDate.format('L')}}
                                            </span>
                                        </small>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <div #AssetStatusStatisticsChart
                                 class="asset-status-statistics-chart chart"
                                 [hidden]="!assetStatusStatisticsHasData">
                            </div>
                            <div class="note note-info text-center text-muted "
                                 [hidden]="assetStatusStatisticsHasData">
                                <small class="text-muted">{{l("NoData")}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
