<div bsModal #viewModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="viewModal"
     aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span *ngIf="construction.id">{{l("Xem thông tin công trình")}}: {{construction.tenCongTrinh}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label>Tạm thời chưa có thông tin </label>
                    <!--<p>{{ construction.maCongTrinh}}</p>-->
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary"
                        (click)="close()">
                    {{l("Cancel")}}
                </button>
            </div>
        </div>
    </div>
</div>
