
<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #editForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="realEstate.id">Cập nhật bất động sản mới: {{realEstate.maBatDongSan}}</span>
                        <span *ngIf="!realEstate.id">Tạo mới bất động sản</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group m-form__group row">
                        <label>Thông tin tài sản</label>
                        <div class="form-control">
                            <div class="form-group">
                                <div class="row m--margin-bottom-10">
                                    <div class="col-xl-6">
                                        <label>Mã tài sản*</label>
                                        <input #maTaiSanInput="ngModel" class="form-control" type="text"
                                               name="maTaiSan" [(ngModel)]="realEstate.maTaiSan" disabled required
                                               maxlength="64">
                                        <validation-messages [formCtrl]="maTaiSanInput"></validation-messages>
                                        <div class="m--margin-top-10">
                                            <button (click)="assetShow()" class="btn btn-primary" type="button">...</button>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <label>Tên tài sản*</label>
                                        <input #tenTaiSanInput="ngModel" class="form-control" type="text"
                                               name="tenTaiSan" [(ngModel)]="realEstate.tenTaiSan" disabled required>
                                        <validation-messages [formCtrl]="tenTaiSanInput"></validation-messages>
                                    </div>
                                </div>
                            </div>
                            <div class="row m--margin-bottom-10">
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label>Nhóm tài sản*</label>
                                        <input #nhomTaiSanInput="ngModel" class="form-control" type="text"
                                               name="nhomTaiSan" [(ngModel)]="realEstate.nhomTaiSan" disabled required>
                                        <validation-messages [formCtrl]="nhomTaiSanInput"></validation-messages>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <label>Loại tài sản*</label>
                                    <input #loaiTaiSanInput="ngModel" class="form-control" type="text" name="loaiTaiSan"
                                           [(ngModel)]="realEstate.loaiTaiSan" disabled required>
                                    <validation-messages [formCtrl]="loaiTaiSanInput"></validation-messages>

                                </div>
                            </div>

                            <div class="row m--margin-bottom-10">
                                <div class="col-xl-12">
                                    <div class="form-group">
                                        <label>Thông tin mô tả*</label>
                                        <!--<input #thongTinMoTaInput="ngModel" class="form-control" type="text" name="thongTinMoTa"
                                        [(ngModel)]="realEstate.thongTinMoTa" disabled required maxlength="64">-->
                                        <textarea #thongTinMoTaInput="ngModel" class="form-control" rows="3" type="text" name="thongTinMoTa"
                                                  [(ngModel)]="realEstate.thongTinMoTa" disabled required maxlength="256"></textarea>
                                        <validation-messages [formCtrl]="thongTinMoTaInput"></validation-messages>
                                    </div>
                                </div>
                            </div>

                            <div class="row m--margin-bottom-10">
                                <div class="col-xl-4">
                                    <div class="form-group">
                                        <label>Ngày BĐ khấu hao*</label>
                                        <input #ngayBDKhauHaoInput="ngModel" class="form-control" type="date"
                                               name="ngayBDKhauHao" [(ngModel)]="realEstate.ngayBDKhauHao" disabled required>
                                        <validation-messages [formCtrl]="ngayBDKhauHaoInput"></validation-messages>

                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="form-group">
                                        <label>Số tháng khấu hao*</label>
                                        <input #soThangKhauHaoInput="ngModel" class="form-control" type="number" name="soThangKhauHao"
                                               [(ngModel)]="realEstate.soThangKhauHao" disabled required>
                                        <validation-messages [formCtrl]="soThangKhauHaoInput"></validation-messages>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="form-group">
                                        <label>Ngày KT khấu hao*</label>
                                        <input #ngayKTKhauHaoInput="ngModel" class="form-control" type="date" name="ngayKTKhauHao"
                                               [(ngModel)]="realEstate.ngayKTKhauHao" disabled required>
                                        <validation-messages [formCtrl]="ngayKTKhauHaoInput"></validation-messages>
                                    </div>
                                </div>
                            </div>

                            <div class="row m--margin-bottom-10">
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label>Nguyên giá tài sản*</label>
                                        <input #nguyenGiaInput="ngModel" class="form-control" type="text"
                                               name="nguyenGia" [(ngModel)]="realEstate.nguyenGia" disabled required>
                                        <validation-messages [formCtrl]="nguyenGiaInput"></validation-messages>

                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label>Giá trị khấu hao*</label>
                                        <input #giaTriKhauHaoInput="ngModel" class="form-control" type="text" name="giaTriKhauHao"
                                               [(ngModel)]="realEstate.giaTriKhauHao" disabled required>
                                        <validation-messages [formCtrl]="giaTriKhauHaoInput"></validation-messages>
                                    </div>
                                </div>
                            </div>

                            <div class="row m--margin-bottom-10">
                                <div class="col-xl-12">
                                    <div class="form-group">
                                        <label>Giá trị khấu hao còn lại*</label>
                                        <input #giaTriKhauHaoConLaiInput="ngModel" class="form-control" type="text" name="giaTriKhauHaoConLai"
                                               [(ngModel)]="realEstate.giaTriKhauHaoConLai" disabled required>
                                        <validation-messages [formCtrl]="giaTriKhauHaoConLaiInput"></validation-messages>
                                    </div>
                                </div>
                            </div>

                            <div class="row m--margin-bottom-10">
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label>Đơn vị sử dụng*</label>
                                        <input #donViSuDungInput="ngModel" class="form-control" type="text"
                                               name="donViSuDung" [(ngModel)]="realEstate.donViSuDung" disabled required>
                                        <validation-messages [formCtrl]="donViSuDungInput"></validation-messages>

                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label>Người sử dụng*</label>
                                        <input #nguoiSuDungInput="ngModel" class="form-control" type="text" name="nguoiSuDung"
                                               [(ngModel)]="realEstate.nguoiSuDung" disabled required>
                                        <validation-messages [formCtrl]="nguoiSuDungInput"></validation-messages>
                                    </div>
                                </div>
                            </div>

                            <div class="row m--margin-bottom-10">
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label>Tình trạng tài sản*</label>
                                        <input #tinhTrangTaiSanInput="ngModel" class="form-control" type="text"
                                               name="tinhTrangTaiSan" [(ngModel)]="realEstate.tinhTrangTaiSan" disabled required>
                                        <validation-messages [formCtrl]="tinhTrangTaiSanInput"></validation-messages>

                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label>Tình trạng khấu hao*</label>
                                        <input #tinhTrangKhauHaoInput="ngModel" class="form-control" type="text" name="tinhTrangKhauHao"
                                               [(ngModel)]="realEstate.tinhTrangKhauHao" disabled required>
                                        <validation-messages [formCtrl]="tinhTrangKhauHaoInput"></validation-messages>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="form-group m-form__group row">
                        <label>Thông tin bất động sản</label>
                        <div class="form-control">
                            <div class="row m--margin-bottom-10">
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label>Hiện trạng*</label>
                                        <input #hientrangInput="ngModel" class="form-control" type="text" name="hienTrang"
                                               [(ngModel)]="realEstate.hienTrang" required maxlength="64">
                                        <validation-messages [formCtrl]="hientrangInput"></validation-messages>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label>Loại Bất động sản*</label>
                                        <select *ngIf="!realEstate.id" #realEstateTypeCombobox name="MaLoaiBatDongSan" class="form-control"
                                                [(ngModel)]="selectedType" title="---Chọn loại bất động sản---" (change)="onChangeType()"
                                                required>
                                            <option *ngFor="let item of realEstateTypes" [value]="item.id">{{item.tenLoaiBatDongSan}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row m--margin-bottom-10">
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label>Diện tích đất sử dụng*</label>
                                        <input #dienTichDatSuDungInput="ngModel" class="form-control" type="text"
                                               name="dienTichDatSuDung" [(ngModel)]="realEstate.dienTichDatSuDung" required>
                                        <validation-messages [formCtrl]="dienTichDatSuDungInput"></validation-messages>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label>Diện tích đất (m2)*</label>
                                        <input #dienTichDatInput="ngModel" class="form-control" type="number" name="dienTichDat"
                                               [(ngModel)]="realEstate.dienTichDat" required maxlength="64">
                                        <validation-messages [formCtrl]="dienTichDatInput"></validation-messages>
                                    </div>
                                </div>

                            </div>
                            <div class="row m--margin-bottom-10">
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label>Chiều dài (m)*</label>
                                        <input #chieudaiInput="ngModel" class="form-control" type="number" name="ChieuDai"
                                               [(ngModel)]="realEstate.chieuDai" required maxlength="64">
                                        <validation-messages [formCtrl]="chieudaiInput"></validation-messages>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label>Chiều Rộng (m)*</label>
                                        <input #chieurongInput="ngModel" class="form-control" type="number" name="ChieuRong"
                                               [(ngModel)]="realEstate.chieuRong" required maxlength="64">
                                        <validation-messages [formCtrl]="chieurongInput"></validation-messages>
                                    </div>
                                </div>

                            </div>
                            <div class="row m--margin-bottom-10">
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label>Tình trạng sử dụng*</label>
                                        <input #tinhTrangSuDungInput="ngModel" class="form-control" type="text" name="tinhTrangSuDung"
                                               [(ngModel)]="realEstate.tinhTrangSuDung" required maxlength="64">
                                        <validation-messages [formCtrl]="tinhTrangSuDungInput"></validation-messages>
                                    </div>
                                </div>

                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label>Thời hạn sử dụng*</label>
                                        <input #thoiHanSuDungInput="ngModel" class="form-control" type="number"
                                               name="thoiHanSuDung" [(ngModel)]="realEstate.thoiHanSuDung" required
                                               maxlength="64">
                                        <validation-messages [formCtrl]="thoiHanSuDungInput"></validation-messages>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Kết cấu nhà*</label>
                                <input #ketCauNhadungInput="ngModel" class="form-control" type="text"
                                       name="ketCauNha" [(ngModel)]="realEstate.ketCauNha" required
                                       maxlength="64">
                                <validation-messages [formCtrl]="ketCauNhadungInput"></validation-messages>
                            </div>
                            <div class="form-group">
                                <label>Ranh giới*</label>
                                <input #ranhGioiInput="ngModel" class="form-control" type="text" name="ranhGioi"
                                       [(ngModel)]="realEstate.ranhGioi" required maxlength="64">
                                <validation-messages [formCtrl]="ranhGioiInput"></validation-messages>
                            </div>
                            <div class="form-group">
                                <label>Tình trạng pháp lý*</label>
                                <input #tinhTrangPhapLynput="ngModel" class="form-control" type="text" name="tinhTrangPhapLy"
                                       [(ngModel)]="realEstate.tinhTrangPhapLy" required maxlength="64">
                                <validation-messages [formCtrl]="tinhTrangPhapLynput"></validation-messages>
                            </div>
                            <div class="form-group">
                                <label>Nguồn gốc tài sản*</label>
                                <input #nguonGocTaiSanInput="ngModel" class="form-control" type="text" name="nguonGocTaiSan"
                                       [(ngModel)]="realEstate.nguonGocTaiSan" required maxlength="64">
                                <validation-messages [formCtrl]="nguonGocTaiSanInput"></validation-messages>
                            </div>
                            <div class="form-group">
                                <label>file đính kèm *</label>
                                <input #filedinhkemInput="ngModel" class="form-control" type="file" name="FileDinhKem"
                                       [(ngModel)]="realEstate.fileDinhKem">
                                <validation-messages [formCtrl]="filedinhkemInput"></validation-messages>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default"
                            (click)="close()">
                        {{l("Cancel")}}
                    </button>
                    <button type="submit" class="btn btn-primary"
                            [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <assetModal #assetModal (modalSave)="reloadAsset()"></assetModal>
</div>



