<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-xs-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{ l("Vehicle") }}</span>
                </h3>
                <span class="m-section__sub">
                    {{ l("VehicleInfo") }}
                </span>
            </div>
            <div class="col-xs-6 text-right">
                <button (click)="createVehicle()" *ngIf="isGranted('Pages.Administration.Vehicle.Create')"
                    class="btn btn-primary">
                    <i class="fa fa-plus"></i> {{ l("CreateNewVehicle") }}
                </button>
            </div>
        </div>
    </div>

    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <form autocomplete="off">
                    <div class="m-form m-form--label-align-right" id="TextsFilterForm">
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-sm-12">

                                <div class="form-group">
                                    <label>{{l("Thông tin tài sản")}} *</label>

                                    <div class="row m--margin-bottom-10">
                                        <div class="col-xl-6">
                                            <div class="form-group">
                                                <!-- Mở màn hình select tài sản bằng cách bắt event click, chạy vào hàm showTaiSan() -->
                                                <button (click)="showTaiSan()" class="btn btn-primary" type="button">
                                                    <i class="icon-refresh"></i>
                                                    {{ l(" ... ") }}
                                                </button>
                                                <label>Mã tài sản *</label>

                                                <input #matsInput="ngModel" class="form-control" type="text"
                                                    name="maTaiSan" [(ngModel)]="mataisanName" required disabled
                                                    maxlength="64" />
                                                <validation-messages [formCtrl]="matsInput"></validation-messages>

                                            </div>

                                        </div>
                                        <div class="col-xl-6">
                                            <label>Tên tài sản *</label>
                                            <input #tentsInput="ngModel" class="form-control" type="text"
                                                name="tenTaiSan" [(ngModel)]="taisan.tenTaiSan" required disabled
                                                maxlength="64" />
                                            <validation-messages [formCtrl]="tentsInput"></validation-messages>
                                        </div>
                                    </div>
                                    <div class="row m--margin-bottom-10">
                                        <div class="col-xl-6">
                                            <label>Nhóm tài sản *</label>
                                            <input #nhomtsInput="ngModel" class="form-control" type="text"
                                                name="maNhomTaiSan" [(ngModel)]="taisan.maNhomTaiSan" required disabled
                                                maxlength="64" />
                                            <validation-messages [formCtrl]="nhomtsInput"></validation-messages>
                                        </div>
                                        <div class="col-xl-6">
                                            <label>Loại tài sản *</label>
                                            <input #loaitsInput="ngModel" class="form-control" type="text"
                                                name="maLoaiTaiSan" [(ngModel)]="taisan.maLoaiTaiSan" required disabled
                                                maxlength="64" />
                                            <validation-messages [formCtrl]="loaitsInput"></validation-messages>
                                        </div>
                                    </div>
                                    <div class="row m--margin-bottom-10">
                                        <div class="col-xl-6">
                                            <label>Ngày nhập *</label>
                                            <input #ngaynhaptsInput="ngModel" class="form-control" type="text"
                                                name="ngayNhapTaiSan" [(ngModel)]="taisan.ngayNhapTaiSan" required
                                                disabled maxlength="64" />
                                            <validation-messages [formCtrl]="ngaynhaptsInput"></validation-messages>
                                        </div>
                                        <div class="col-xl-6">
                                            <label>Nguyên giá *</label>
                                            <input #nguyengiatsInput="ngModel" class="form-control" type="text"
                                                name="nguyenGiaTaiSan" [(ngModel)]="taisan.nguyenGiaTaiSan" required
                                                disabled maxlength="64" />
                                            <validation-messages [formCtrl]="nguyengiatsInput"></validation-messages>
                                        </div>
                                    </div>
                                    <div class="row m--margin-bottom-10">
                                        <div class="col-xl-6">
                                            <label>Khấu hao *</label>
                                            <input #khauhaotsInput="ngModel" class="form-control" type="text"
                                                name="khauHao" [(ngModel)]="taisan.khauHao" required disabled
                                                maxlength="64" />
                                            <validation-messages [formCtrl]="khauhaotsInput"></validation-messages>
                                        </div>
                                        <div class="col-xl-6">
                                            <label>Ghi chú*</label>
                                            <input #ghichutsInput="ngModel" class="form-control" type="text"
                                                name="ghiChu" [(ngModel)]="taisan.ghiChu" required disabled
                                                maxlength="64" />
                                            <validation-messages [formCtrl]="ghichutsInput"></validation-messages>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </form>
                <div class="form-group">
                    <div class="input-group">
                        <input [(ngModel)]="vehicleName" name="vehicleName" autoFocus class="form-control"
                            placeholder="Nhập tên xe" type="text" />
                        <span class="input-group-btn">
                            <button (click)="applyFilters()" class="btn btn-primary" type="submit">
                                <i class="icon-refresh"></i>
                                {{ l("Refresh") }}
                            </button>
                        </span>
                    </div>
                </div>

                <div class="row align-items-center">
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable (onLazyLoad)="getVehicles($event)" [value]="primengTableHelper.records"
                            rows="{{
                                primengTableHelper.defaultRecordsCountPerPage
                            }}" [paginator]="false" [lazy]="true" [responsive]="primengTableHelper.isResponsive">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="mataisan">
                                        Mã tài sản
                                        <p-sortIcon field="mataisan"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="tents">
                                        Tên tài sản
                                        <p-sortIcon field="tents"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="name">
                                        Tên xe
                                        <p-sortIcon field="Name"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="soKmDaDi">
                                        Số Km đã đi
                                        <p-sortIcon field="soKmDaDi"></p-sortIcon>
                                    </th>

                                    <th pSortableColumn="number">
                                        Số xe
                                    </th>
                                    <th pSortableColumn="idTypeCar">
                                        Loại xe
                                    </th>
                                    <th pSortableColumn="dinhMucNhienLieu">
                                        Định mức nhiên liệu
                                    </th>
                                    <th pSortableColumn="status">
                                        Trạng thái
                                    </th>
                                    <th pSortableColumn="model">
                                        Model
                                    </th>
                                    <th pSortableColumn="machineNumber">
                                        Số máy
                                    </th>
                                    <th pSortableColumn="color">
                                        Màu
                                    </th>
                                    <th pSortableColumn="name">
                                        Tên chủ sở hữu
                                    </th>
                                    <th pSortableColumn="nameEngine">
                                        Tên động cơ
                                    </th>
                                    <th>{{ l("Edit") }}</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td>
                                        <span class="ui-column-title">Mã tài sản</span>
                                        <span title="{{ record.maTaiSan }}">{{
                                                    truncateString(record.maTaiSan)
                                                }}</span>
                                    </td>
                                    <td>
                                        <span class="ui-column-title">Tên tài sản</span>
                                        <span title="{{ record.tenTaiSan }}">{{
                                                        truncateString(record.tenTaiSan)
                                                    }}</span>
                                    </td>

                                    <td>
                                        <span class="ui-column-title">Tên xe</span>
                                        <span title="{{ record.name }}">{{
                                            truncateString(record.name)
                                        }}</span>
                                    </td>
                                    <td>
                                        <span class="ui-column-title">Số Km đã đi</span>
                                        <span title="{{ record.soKmDaDi }}">{{
                                                            truncateString(record.soKmDaDi)
                                                        }}</span>
                                    </td>
                                    <td>
                                        <span class="ui-column-title">Số xe</span>
                                        <span title="{{ record.number }}">{{
                                            truncateString(record.number)
                                        }}</span>
                                    </td>
                                    <td>
                                        <span class="ui-column-title">Mã loại xe</span>
                                        <span title="{{ record.idTypeCar }}">{{
                                            truncateString(record.idTypeCar)
                                        }}</span>
                                    </td>
                                    <td>
                                        <span class="ui-column-title">Định mức nhiên liệu</span>
                                        <span title="{{ record.dinhMucNhienLieu }}">{{
                                            truncateString(record.dinhMucNhienLieu)
                                        }}</span>
                                    </td>
                                    <td>
                                        <span class="ui-column-title">Trạng thái</span>
                                        <span title="{{ record.status }}">{{
                                            truncateString(record.status)
                                        }}</span>
                                    </td>
                                    <td>
                                        <span class="ui-column-title">Model</span>
                                        <span title="{{ record.model }}">{{
                                            truncateString(record.model)
                                        }}</span>
                                    </td>

                                    <td>
                                        <span class="ui-column-title">Số máy</span>
                                        <span title="{{ record.machineNumber }}">{{
                                                truncateString(
                                                    record.machineNumber
                                                )
                                            }}</span>
                                    </td>
                                    <td>
                                        <span class="ui-column-title">Màu</span>
                                        <span title="{{ record.color }}">{{
                                            truncateString(record.color)
                                        }}</span>
                                    </td>
                                    <td>
                                        <span class="ui-column-title">Tên chủ sở hữu</span>
                                        <span title="{{ record.hostName }}">{{
                                            truncateString(record.hostName)
                                        }}</span>
                                    </td>
                                    <td>
                                        <span class="ui-column-title">Tên động cơ</span>
                                        <span title="{{ record.nameEngine }}">{{
                                            truncateString(record.nameEngine)
                                        }}</span>
                                    </td>

                                    <td>
                                        <button
                                            class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                                            (click)="
                                                createOrEditModal.show(
                                                    record.id
                                                )
                                            " title="{{ l('Edit') }}">
                                            <i class="fa fa-edit" [attr.aria-label]="l('Edit')"></i>
                                        </button>

                                        <button
                                            class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                                            (click)="deleteVehicle(record.id)" title="{{ l('Delete') }}">
                                            <i class="fa fa-times" [attr.aria-label]="l('Delete')"></i>
                                        </button>

                                        <button
                                            class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                                            (click)="
                                                viewVehicleModal.show(record.id)
                                            " title="{{ l('View') }}">
                                            <i class="fa fa-eye" [attr.aria-label]="l('View')"></i>
                                        </button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{ l("NoData") }}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator rows="{{
                                    primengTableHelper.defaultRecordsCountPerPage
                                }}" #paginator (onPageChange)="getVehicles($event)" [totalRecords]="
                                    primengTableHelper.totalRecordsCount
                                " [rowsPerPageOptions]="
                                    primengTableHelper.predefinedRecordsCountPerPage
                                ">
                            </p-paginator>
                            <span class="total-records-count">
                                {{
                                    l(
                                        "TotalRecordsCount",
                                        primengTableHelper.totalRecordsCount
                                    )
                                }}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-TurboTable-End>-->
                </div>
            </div>
        </div>
        <createOrEditVehicleModal #createOrEditModal (modalSave)="reloadPage()">
        </createOrEditVehicleModal>
        <viewVehicleModal #viewVehicleModal></viewVehicleModal>
        <!-- Khi gọi modal trong component cần có dòng dưới, và nó bắt cái modalSave(tức là nếu mình chọn tài sản, rồi
        page chọn tài sản đóng lại) nó sẽ chạy vào hàm updateAsset() -->
        <selectAsset_8Modal #selectAsset_8Modal (modalSave)="updateAsset()"></selectAsset_8Modal>
    </div>